@model ResultChooseDto

@*
    neden biz (why choose us) view bileşeni
*@

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h4 class="section-title">Neden Biz?</h4>
                <h1 class="display-5 mb-4">@Model.Title</h1>
                <p class="mb-4">@Model.Description</p>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/arkitektur-1.0.0/img/icons/icon-2.png" alt="Tasarım İkonu">
                            <div class="ms-4">
                                <h3>Özgün Tasarım Yaklaşımı</h3>
                                <p class="mb-0">Her projeyi kendi dinamikleri içinde değerlendiriyor; çevreye duyarlı, estetik ve kullanıcı odaklı mimari çözümler sunuyoruz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/arkitektur-1.0.0/img/icons/icon-3.png" alt="İnovasyon İkonu">
                            <div class="ms-4">
                                <h3>Yenilikçi Çözümler</h3>
                                <p class="mb-0">Geleneksel inşaat yöntemlerini modern teknolojiyle harmanlayarak, en güvenli ve sürdürülebilir mühendislik çözümlerini üretiyoruz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/arkitektur-1.0.0/img/icons/icon-4.png" alt="Proje Yönetimi İkonu">
                            <div class="ms-4">
                                <h3>Profesyonel Proje Yönetimi</h3>
                                <p class="mb-0">Planlama aşamasından anahtar teslime kadar süreci titizlikle koordine ediyor, projelerinizi zamanında ve bütçesine sadık kalarak tamamlıyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1560131653-63257db002c8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTh8fGFyY2hpdGVjdHVyZXxlbnwwfHwwfHx8MA%3D%3D" alt="Mimari Proje Görseli 1">
                    <img class="img-fluid" src="https://plus.unsplash.com/premium_photo-1676625176020-3bbb1c0adea1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTMzfHxhcmNoaXRlY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="Mimari Proje Görseli 2">
                </div>
            </div>
        </div>
    </div>
</div>