@model UpdateProjectDto
@{
    ViewData["Title"] = "UpdateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

   

}



<form method="post" enctype="multipart/form-data">


    <input asp-for="Id" type="hidden" />

    @* bu yok createde *@

    <input asp-for="ImageUrl" type="hidden" />



    <div class="form-group">
        <label>Proje Görseli</label>
        <img alt="proje görseli" src="@Model.ImageUrl" style="width:125px;height:125px;" />
    </div>

   
    <div class="form-group">
        <label>*Proje Başlığı</label>
        <input asp-for="Title" class="form-control" placeholder="Proje Başlığını Giriniz..." type="text" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>*Proje Açıklaması</label>
        <textarea asp-for="Description" class="form-control" placeholder="Proje Açıklamasını Giriniz..." type="text" cols="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>*Proje kategorisiniz seçiniz</label>
        <select asp-items="@ViewBag.categories" asp-for="CategoryId" class="form-control" required>
            <option disabled selected>Kategori Seçiniz</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>*Proje Öğesi-1</label>
        <input asp-for="Item1" class="form-control" placeholder="Proje Öğesini Giriniz..." type="text" />
        <span asp-validation-for="Item1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>*Proje Öğesi-2</label>
        <input asp-for="Item2" class="form-control" placeholder="Proje Öğesini Giriniz..." type="text" />
        <span asp-validation-for="Item2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>*Proje Öğesi-3</label>
        <input asp-for="Item3" class="form-control" placeholder="Proje Öğesini Giriniz..." type="text" />
        <span asp-validation-for="Item3" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>*Proje Görselini Değiştirmek İçin Görsel Seçiniz</label>
        <input asp-for="file" class="form-control" placeholder="Proje Öğesini Giriniz..." type="file" />
        <span asp-validation-for="file" class="text-danger"></span>
    </div>





    <button class="btn btn-primary">Güncelle</button>

</form>



