@using Arkitektur.WebUI.DTOs.TestimonialDtos
@model List<ResultTestimonialDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Testimonial</h4>
            <h1 class="display-5 mb-4">Thousands Of Customers Who Trust Us And Our Services</h1>
        </div>
  
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
          
            @foreach( var item in Model)
            {
                <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='@item.ImageUrl' alt=''>">
                    <p class="fs-5">@item.Comment</p>
                    <h3>@item.NameSurname</h3>
                    <span class="text-primary">@item.Title</span>
                </div>



            }
            

        </div>
    </div>
</div>
<!-- Testimonial End -->